@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/***********************************menu links*********************************/
.menu{
    width: 100% ;
    display: grid;
    
    
}
.in{
    background-image: url(imagenes/SelArg/FacuGritando.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.gale{
    background-image: url(imagenes/murcia/FacuPase.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.bi{
    background-image: url(imagenes/peñarol/FacuMvp.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.cs{
    background-image: url(imagenes/realMadrid/FacuPuñoApretado.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.s{
    background-image: url(imagenes/denver/FacuBandeja4.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}
.menu a{
    text-decoration: none;
    color: white;
    /* padding: 2%; */
    text-align: center;
    align-items: center;
    align-content: center;
}
.menu h4{
    text-align: center;
    align-items: center;
    text-shadow: 5px 5px 3px black;
    font-size: 50px;
    
}




/*************************index***************************************/
.banner{
    background-color: rgb(0, 0, 139);
    width: 100%;
    height: 50px;
}
#background{
    background-image: url(imagenes/facuSentadoConPelota.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 300px;
    background-size: 30%;
    background-position: 25%;
    width: 100%;
}
.conteiner-fluid{
    background-image: url(imagenes/imagenPri2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    
}
.dropdown{
    margin-left: 20%;
    margin-bottom: 25%;
    margin-top: 15%;   
}
.dropdown-menu a{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.p1, .p2, .p3{
    text-align: right;
    font-size: 300%;
    text-shadow: 5px 5px 8px grey;
    margin-left: 50%;
    margin-right: 5%;
    padding-top: 10%;
    color:black;
    
    
}
.jumbotron{
    background-color: whitesmoke;
    margin-bottom: 100px;
    padding-top: 20px;
}
.jumbotron h1{
    font-size: 60px;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    color: #00008b;
}
.jumbotron p{
    text-align: center !important; 
    padding-bottom: 70px;
    border-top: #00008b solid 3px;
    margin: 0px 350px;
    padding-top: 50px;
    color: black !important;
}
.titulo{
    background-color: rgb(0, 0, 139);
    text-align: center;
    color: white;
}
.carousel{
    margin-bottom: 50px;
}



/*************************** footer****************************************************/

.box{
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(rgb(0, 0, 139),black);
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    margin: 1rem;
}
p{
    color: white;
    text-align: center;
}

/*********************** seccion biografia ******************************************************/

.img1bio:hover{
    border: solid rgb(0, 0, 139) 3px;
}
.mainbio{
    margin-left: 25px;
    margin-right: 25px;
}
#title-bio{
    color: rgb(0, 0, 139);
    padding: 5%;
    font-size: 500%;
    position: sticky;
    text-align: center;
}
.conteiner-all{
    margin-bottom: 20%;
}
.conteiner-all img{
    width: 500px;
    float: left;
    margin-left: 0%;
    border-radius: 45%;
    margin-right: 10%;
    border:solid rgb(0, 0, 139) 5px;
    
}
.txt1{
    text-align: right;
    padding-top: 5%;
    border-bottom:solid rgb(0, 0, 139) 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
.conteiner2  img{
    width: 50%;
    float: right;
    margin-right: 5%;
    border: solid #00008b 5px;
    margin-left: 3%;
    margin-bottom: 10%;
    
}
.txt2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top: 15%;
    padding-right: 0%;
    margin-left: 5%;
    border-bottom:solid rgb(0, 0, 139) 5px;
    color: black;
}     
.conteiner3 img{
    width: 200px;
    margin-top: 50px;
    border-radius: 30%;
    border: solid rgb(0, 0, 139) 5px;
} 
.txt3{
    text-align: center;
    padding-top: 15%;
    border-bottom:solid rgb(0, 0, 139) 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: black;
} 
#conteiner4 img{
    width: 35%;
    margin-top: 10%;
    margin-left: 15%;
    border: solid rgb(0, 0, 139) 5px;
}
.txt4{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    border-bottom:solid rgb(0, 0, 139) 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
.conteiner5 img{
    width: 50%;
    float: right;
    margin-top: 15%;
    margin-right: 23%;
    margin-left: 2%;
    margin-bottom: 5%;
    border: solid rgb(0, 0, 139) 5px;
}
.txt5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    border-bottom:solid rgb(0, 0, 139) 5px;
    color: black;
}
.conteiner6 img{
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border: solid rgb(0, 0, 139) 5px;
    margin-left: 3%;
}
.txt6{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top: 10%;
    margin-left: 5%;
    border-bottom: solid rgb(0, 0, 139) 5px;
    margin-right: 40%;
    color: black;
}
.conteiner7 img{
    width: 74%;
    position: relative;
    left: 10%;
    margin-top: 3%;
    margin-right: 23%;
    margin-left: 2%;
    margin-bottom: 2%;
    border: solid rgb(0, 0, 139) 5px;
} 
.txt7{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: top;
    padding-top: 30%;
    margin-left: 20%;
    border-bottom: solid rgb(0, 0, 139) 5px;
    color: black;
    
}
.txt7b{
    text-align:end;
    padding-top: 0%;
    border-bottom:solid rgb(0, 0, 139) 5px;
    margin-right:40% ;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}
.conteiner8 img{
    width: 50%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border: solid rgb(0, 0, 139) 5px;
    margin-left: 3%;
    margin-bottom: 20%;
}
.txt8{
    text-align: left;
    padding-top: 25%;
    margin-left: 5%;
    border-bottom:solid rgb(0, 0, 139) 5px;
    margin-right: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

/*******************************seccion galeria *********************************/

.fotoPrincipalGale{
    background-image: url(imagenes/murcia/FacuPase.jpg) !important;
}

.galeria{
    width: 100%;
    min-width: 600px;
    background-color: rgb(0, 0, 139);
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    padding: 20px;
}
.item{
    
    background-color: red;
    border: 2px solid white
}
.item:hover{
    transform: scale(1.02);
    transition: all 1s;
}
.item1{
    background-image: url(imagenes/denver/FacuBandeja.jpg);
    grid-column: 1/2;
    grid-row: 1/3;
    background-position: center;
    background-size: cover;
    
    
}
.item2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(imagenes/peñarol/Facubandeja3.jpg);
    background-position: center;
    background-size: cover;
}
.item3{
    background-image: url(imagenes/murcia/FacuFestejo.jpg);
    grid-column: 3/5;
    grid-row: 1/2;
    background-position: center;
    background-size: cover;
}
.item4{
    background-image: url(imagenes/realMadrid/banner.jpg);
    grid-column: 2/5;
    grid-row: 2/3;
    background-position: center;
    background-size: cover;
}
.item5{
    background-image: url(imagenes/peñarol/FacuMvp.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
    background-position: center;
    background-size: cover;
}
.item6{
    background-image: url(imagenes/SelArg/TapaAKobe.jpg);
    grid-column: 3/5;
    grid-row: 3/5;
    background-position: right;
    background-size: cover;
}
.item7{
    background-image: url(imagenes/municipal/Facumunicipal2.jpg);
    grid-column: 1/3 ;
    grid-row: 4/5;
    background-position: center;
    background-size: cover;
}
.item8{
    background-image: url(imagenes/peñarol/FacuCamisetaEspecial.jpg);
    grid-column: 2/3 ;
    grid-row: 3/4;
    background-position: center;
    background-size: cover;
}
.video1{
    display: flex;
    margin: 5% 0% 1% 5%;
    padding: 3%;
    background-color: rgb(0, 0, 139);
    box-shadow: 1px 0px 0 #fff;
    box-shadow: 10px 10px 0 rgba(31, 103, 235, 0.7);
    
}
.video2{
    display: flex;
    justify-content: flex-end;
    margin: 2% 5% 2% 0% ;
    padding: 3%;
    background-color: rgb(0, 0, 139);
    box-shadow: 1px 0px 0 #fff;
    box-shadow: 10px 10px 0  rgba(31, 103, 235, 0.7);
}
.video3{
    display: flex;
    margin: 5% 0% 1% 5%;
    padding: 3%;
    background-color: rgb(0, 0, 139);
    box-shadow: 1px 0px 0 #fff;
    box-shadow: 10px 10px 0 rgba(31, 103, 235, 0.7);
}
.separacion{
    background-color: white;
    height: 75px;
}


/*******************************seccion contacto************************/


#fondo{
    padding-top: 75px;
    padding-bottom: 75px;
}
.registro{
    width: 100px;
    background: rgba(36, 48, 60, 0.5);
    /* padding: 50px; */
    padding-bottom: 8%;
    border-radius: 4x;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    padding-right: 5% !important;
    
} 
.registro h2{
    font-size: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.registro h5{
    font-size: 15px;
    margin-bottom: 20px;
}
.controls{
    width: 300px;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: blanchedalmond;
}
.registro p{
    width: 100%;
    height: px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.registro a{
    color: white;
    text-decoration: none;
}
.registro a:hover{
    color:white;
    text-decoration: underline;
}
.registro .botons{
    width: 100%;
    background:#1f53c5;
    padding: 12px;
    color: white;
    margin: 16xp 0;
    font-size: 16px;
}
.fcontacto{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgb(0, 0, 139),black);
    margin-top: 2%;
    border-top: whitesmoke solid;
} 
#psorteo{
    font-size: 15px;
    padding-top: 10px;
}
.talle{
    display: flex;
}

/********************************seccion camisetas********************************/

.fotoCamisetas{
    background-image: url(imagenes/realMadrid/FacuPuñoApretado.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
#separacionC{
    height: 500% !important;
    margin-bottom: 500px !important;
}

#tituloCamisetas{
    border: 3px rgba(0, 0, 139) solid;
    color: black !important;
    text-align: center;
    height: 100px;
    font-size: 20px;
    margin: 3% 5%;
    padding: 10px 5px;
}
#tituloCamisetas p{
    color: black;
}
.container-camisetas{
    width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-camisetas .card{
    width: 330px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    margin: 10px;
    background-color: rgb(12, 12, 226);
}
.container-camisetas .card:hover{
    transform:  translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-camisetas .card img{
    width: 330px;
    height: 200px;
    background-size: cover;   
}
.container-camisetas h4{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px; 
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px white;
    
}
.container-camisetas p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;   
    color: white;
    margin-bottom: 5px;
}
.container-camisetas a{
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.container-camisetas a:hover{
    color: white;
}
#button{
    background-color: cornflowerblue; 
    width: 200px;
    height: 35px;
    border-radius: 15px;
    border: none;
}
#button:hover{
    background-color: orangered;
}




@media only screen and (max-width:320px){
    /******************** MQ INDEX *************************/   
    .dropdown{
        margin: 25%;
        margin-top: 80%; 
    }
    .dropdown-menu a{
        text-align: center;
    }
    .conteiner-fluid{
        background-image: url(imagenes/imagenPri2.jpg) !important;
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    #background{
        background-position: 50%;
        background-size: 75%;
        width:100%;
        font-display: flex;
        flex-direction: column; 
        
        
    }
    .p1, .p2, .p3{
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
        text-align: center;
        font-size: 200%;
        text-shadow: 5px 5px 5px blue;
        margin: 50px 5px;
        background-color: rgba(128, 128, 128, 0.5);
        color: white;
        
    }
    .jumbotron{
        margin-bottom: 0%;
    }
    .jumbotron h1{
        font-size: 40px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color:#00008b
    }
    .jumbotron p{
        margin: 0px 30px;
    
    }
    .titulo{
        padding: 2%;
    }
    /************************** MQ Bio ******************/
    .fotoBio{
        background-image: url(imagenes/peñarol/FacuMvp.jpg) !important;
    }
    #title-bio{
        font-size: 50px;
    }
    .conteiner-all img{
        width: 200px;
        border-radius: 45%; 
        margin-left: 15%;
        margin-bottom: 10%;
        margin-top: 55px;
    }
    .txt1{
        text-align: center;
        
    }
    .conteiner2  img{
        width: 100%;
        float: right;
        margin-right: 0%
        
        
        
    }
    .txt2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
        padding-top: 15%;
    } 
    .conteiner3 img{
        width: 250px;
        margin-right: 5%;
        
    } 
    .txt3{
        text-align: center;
        padding-top: 15%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    } 
    #conteiner4 img{
        width: 70%;
        margin-top: 10%;
        border: solid rgb(0, 0, 139) 5px;
    }
    .txt4{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    }
    .conteiner5 img{
        width: 100%;
        margin-top: 5%;
        margin-right: 0%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .txt5{
        padding-top: 75%;
        text-align: center;
    }
    .conteiner6 img{
        width: 100%;
        margin-right: 0%;
        margin-top: 5%;
        margin-bottom: 10%;
        
    }
    .txt6{
        
        font-size: 20px;
        text-align: center;
        padding-top: 10%;
        margin-left: 5%;
            margin-right: 5%;
    }
    .conteiner7 img{
        width: 100%;
        position: center;
        left: 0%;
        margin-right: 0%;
        margin-left: 0%;
    } 
    .txt7{
        font-size: 20px;
        text-align: center;
        margin-left: 0%;
    }
    .txt7b{
        text-align: center;
        padding-top: 0%;
        margin-right: 0% ;
        margin-top: 5%;
    }
    .conteiner8 img{
        width: 100%;
        float: center;
        margin-right: 0%;
        margin-bottom: 10%;
    }
    .txt8{
        text-align: center;
        padding-top: 25%;
        
        margin-right: 0%;
        
    }
    .txtfinal{
        padding-top: 15%;
        margin-bottom: 15px;
        border-bottom: solid rgb(0, 0, 139) 5px;
        margin-left: 55%;
        font-size: 20px;
        text-align: end;
    }
    /*************************** MQ CONTACTO **************************/
    
    #fondo{
        background-image: url(imagenes/denver/FacuFestejandoTriple.jpg);
        background-position: center;
        background-size: cover;
        
            }
    .registro{
        width: 300px;
        padding-bottom: 8%;
        margin: 0px 10px;
        border-radius: 4px;
        
        
    }
    .registro h2{
        font-size: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    .registro h5{
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 6%;
    }
    .registro p{
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }
    .registro a{
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .registro a:hover{
        color:white;
        text-decoration: underline;
    }
    .btn{
        margin-left: 35%;
        
    }
    /****************************** MQ CAMISETAS ******************************/
    
    .fotoCamisetas{
        height: 200px;
    }
    #footerCamisetas{
        margin-top: 95rem;
    }
    #button{
        background-color: cornflowerblue; 
        width: 200px;
        height: 35px;
        border-radius: 15px;
        border: none;
        margin-left: 20%;
        
    }
    #tituloCamisetas{
        border: 3px rgba(0, 0, 139) solid;
        color: black !important;
        text-align: center;
        height: 280px;
        font-size: 20px;
        margin: 3% 5%;
        padding: 10px 5px;
    }
}
@media only screen and (min-width:425px){
    .dropdown{
        margin: 30%; 
        margin-top: 70%; 
    }
    .dropdown-menu a{
        text-align: center;
    }
    .conteiner-fluid{
        width: 100%; 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #background{
        background-position: 50%;
        background-size: 60%;
        width:100%;
        font-display: flex;
        flex-direction: column; 
    }
    .p1, .p2, .p3{
        margin-left: 3%;
        margin-right: 3%;
        
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
        text-align: center;
        font-size: 200%;
        text-shadow: 5px 5px 5px blue;
        margin: 50px 5px;
        background-color: rgba(128, 128, 128, 0.5);
        color: white;
    }
    .jumbotron{
        margin-bottom: 0%;
    }
    .jumbotron h1{
        font-size: 40px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color:#00008b
    }
    .jumbotron p{
        margin: 0px 30px;
    
    }
    .titulo{
        padding: 2%;
    }
    /****MQ BIOGRAFIA****/
    .fotoBio{
        background-image: url(imagenes/peñarol/FacuMvp.jpg) !important;
    }
    .conteiner-all img{
        width: 250px;
    }
    .conteiner3 img{
        width: 350px;
    }
    /********MQ contacto **********/
    #fondo{
        background-image: url(imagenes/denver/FacuFestejandoTriple.jpg);
        background-position: center;
        background-size: cover;
        
        height: 100%;
        
            }
    .registro{
        width: 84%;
        height: 100%;
        padding: 0px;
        border-radius: 4px;
        margin-left: 8%;
        margin-top: 1%;
        padding-left: 7%;
        padding-top: 0%;
    }
    .registro h2{
        font-size: 50px;
        margin-bottom: 20px;
        text-align: center !important;
    }
    .registro h5{
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 0%;
    }
    .registro a{
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .registro a:hover{
        color:white;
        text-decoration: underline;
    }
    .btn{
        margin-left: 40%;
        margin-bottom: 5%;
    }
    /******************** MQ CAMISETAS *******************************/
    .fotoCamisetas{
        height: 250px;
    }
    
    #footerCamisetas{
        margin-top: 95rem;
    }
    #button{
        background-color: cornflowerblue; 
        width: 200px;
        height: 35px;
        border-radius: 15px;
        border: none;
        margin-left: 20%;
        
    }
    #tituloCamisetas{
        height: 220px;
        
    }
}
@media only screen and (min-width:768px){
    .dropdown{
        margin: 40%; 
        margin-top: 70%; 
        
    }
    .dropdown-menu a{
        text-align: center;
    }
    .conteiner-fluid{
        width: 100%; 
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #background{
        background-position: 50%;
        background-size: 30%;
        font-display: flex;
        flex-direction: column; 
        
    }
    .p1, .p2, .p3{
        margin-left: 2%;
        margin-right: 2%;
        padding: 10px 50px;
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
        text-align: center;
        font-size: 200%;
        text-shadow: 5px 5px 5px blue;
        background-color: rgba(128, 128, 128, 0.5);
        color: white;
    }
    .jumbotron{
        margin-bottom: 0%;
    }
    .jumbotron h1{
        font-size: 40px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color:#00008b
    }
    .jumbotron p{
        margin: 0px 30px;
    }
    .titulo{
        padding: 2%;
    }
    /****MQ BIOGRAFIA****/
    .fotoBio{
        background-image: url(imagenes/peñarol/FacuMvp.jpg) !important;
    }
    .conteiner-all img{
        width: 350px;
        float: left;
        margin-left: 0%;
    }
    .txt1{
        margin-left: 2%;
    }
    .conteiner3 img{
        width: 600px;
        
        margin-left: 10%;
    }
    .menu{
        width: 100%;
        height: 500%;
        display: flex;  
        
    }
    .in{
        width: 25%;
        display: flex;
        height: 500%;
    }
    .gale{
        width: 25%;
        display: flex;
        height: 500%;
        background-color: rgba(36, 48, 60, 0.5);
    }
    .bi{
        width: 25%;
        display: flex;
        height: 500%;
        
    }
    .cs{
        width: 25%;
        display: flex;
        height: 500%;
        
    }
    .s{
        width: 25%;
        display: flex;
        height: 500%;
    }
    .menu a{
        padding: 30% 0%;
    }
    .menu h4{
        
        font-size: 35px;
        
    }
    /********MQ contacto **********/
    #fondo{
        background-image: url(imagenes/denver/FacuFestejandoTriple.jpg);
        background-position: center;
        
            }
    .registro{
        width: 650px !important;
        padding: 0px;
        padding-bottom: 8%;
        border-radius: 4px;
        margin-left: 0%;        
    }
    .registro h2{
        font-size: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    .registro h5{
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }   
    .registro p{
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }
    .registro a{
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .registro a:hover{
        color:white;
        text-decoration: underline;
    }
    .btn{
        margin-left: 50% !important; 
    }
    .controls{    
    align-content: center !important;
    margin-left: 100px !important;
    }
    /**************** MQ CAMISETAS*********************/
    .fotoCamisetas{
        height: 400px;
    }
    
    #footerCamisetas{
        margin-top: 30rem;
    }
    #button{
        background-color: cornflowerblue; 
        width: 200px;
        height: 35px;
        border-radius: 15px;
        border: none;
        margin-left: 20%;
        
    }
    #tituloCamisetas{
        height: 130px;
        
    }
}
@media only screen and (min-width:1024px){ 
    /**********MQ menu de links *****/
    .menu{
        width: 100%;
        height: 500%;
        display: flex;  
        
    }
    .in{
        width: 100%;
        display: flex;
        height: 500%;
    }
    .gale{
        width: 100%;
        display: flex;
        height: 500%;
        background-color: rgba(36, 48, 60, 0.5);
    }
    .bi{
        width: 100%;
        display: flex;
        height: 500%;
        
    }
    .cs{
        width: 100%;
        display: flex;
        height: 500%;
        
    }
    .s{
        width: 100%;
        display: flex;
        height: 500%;
    }
    .menu a{
        padding: 30% 0%;
    }
    /************************* MQ INDEX **************************/ 
    #background{
        background-image: url(imagenes/facuSentadoConPelota.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-bottom: 500px;
        background-size: 30%;
        background-position: 25%;
        width: 100%;
        height: 100%;
    }
    .conteiner-fluid{
        background-image: url(imagenes/imagenPri2.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        
    }
    .dropdown{
        margin-left: 20%;
        margin-bottom: 120%;
        margin-top: 120%;   
        
    }
    .dropdown-menu a{
        width: 100%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .p1, .p2, .p3{
        text-align: right;
        font-size: 300%;
        text-shadow: 5px 5px 8px grey;
        margin-left: 50%;
        margin-right: 5%;
        padding-top: 10%;
        color:#000;
        background-color: white;
        margin-top: 0%;
        
    }
    .jumbotron{
        background-color: whitesmoke;
        margin-bottom: 100px;
        padding-top: 20px;
    }
    .jumbotron h1{
        font-size: 60px;
        text-decoration: none;
        font-family: sans-serif;
        text-align: center;
        color: #00008b;
    }
    .jumbotron p{
        text-align: center !important; 
        padding-bottom: 70px;
        border-top: #00008b solid 3px;
        margin: 0px 350px;
        padding-top: 50px;
        color: black !important;
    }
    .titulo{
        background-color: rgb(0, 0, 139);
        text-align: center;
        color: white;
        text-align: center;
        padding: 3px;
        font-size: 20px;
    }
    .carousel{
        margin-bottom: 50px;
    }
    /****************seccion Biografia********************/
    .fotoBio{
        background-image: url(imagenes/peñarol/FacuMvp.jpg);
    }
    .img1bio:hover{
        border: solid rgb(0, 0, 139) 3px;
    }
    .mainbio{
        margin-left: 25px;
        margin-right: 25px;
    }
    #title-bio{
        color: rgb(0, 0, 139);
        padding: 5%;
        font-size: 500%;
        position: sticky;
        text-align: center;
    }
    .conteiner-all{
        margin-bottom: 20%;
    }
    .conteiner-all img{
        width: 500px;
        float: left;
        margin-left: 10%;
        border-radius: 45%;
        margin-right: 10%;
        border:solid rgb(0, 0, 139) 5px;
        
    }
    .txt1{
        text-align: right;
        margin-left: 20%;
        margin-right: 5%;
        padding-top: 5%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    }
    .conteiner2  img{
        width: 50%;
        float: right;
        margin-right: 5%;
        border: solid #00008b 5px;
        margin-left: 3%;
        margin-bottom: 10%;
        
    }
    .txt2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
        padding-top: 15%;
        padding-right: 0%;
        margin-left: 5%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        margin-right: 40%;
        color: black;
    }     
    .conteiner3 img{
        width: 600px;
        float: left;
        margin-left: 5%;
        border-radius: 30%;
        margin-right: 10%;
        border: solid rgb(0, 0, 139) 5px;
    } 
    .txt3{
        text-align: right;
        margin-left: 30%;
        margin-right: 5%;
        padding-top: 15%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    } 
    #conteiner4 img{
        width: 35%;
        float: right;
        margin-right: 5%;
        margin-top: 10%;
        margin-left: 5%;
        border: solid rgb(0, 0, 139) 5px;
    }
    .txt4{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    }
    .conteiner5 img{
        width: 50%;
        float: right;
        margin-top: 5%;
        margin-right: 23%;
        margin-left: 2%;
        margin-bottom: 2%;
        border: solid rgb(0, 0, 139) 5px;
    }
    .txt5{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
        padding-top: 35%;
        margin-left: 3%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        margin-right: 50%;
        color: black;
    }
    .conteiner6 img{
        width: 50%;
        float: right;
        margin-right: 5%;
        margin-top: 5%;
        border: solid rgb(0, 0, 139) 5px;
        margin-left: 3%;
    }
    .txt6{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
        padding-top: 10%;
        margin-left: 5%;
        border-bottom: solid rgb(0, 0, 139) 5px;
        margin-right: 40%;
        color: black;
    }
    .conteiner7 img{
        width: 74%;
        position: relative;
        left: 10%;
        margin-top: 3%;
        margin-right: 23%;
        margin-left: 2%;
        margin-bottom: 2%;
        border: solid rgb(0, 0, 139) 5px;
    } 
    .txt7{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: top;
        padding-top: 30%;
        margin-left: 20%;
        border-bottom: solid rgb(0, 0, 139) 5px;
        color: black;
        
    }
    .txt7b{
        text-align:end;
        padding-top: 0%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        margin-right:40% ;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    }
    .conteiner8 img{
        width: 50%;
        float: right;
        margin-right: 5%;
        margin-top: 5%;
        border: solid rgb(0, 0, 139) 5px;
        margin-left: 3%;
        margin-bottom: 20%;
    }
    .txt8{
        text-align: left;
        padding-top: 25%;
        margin-left: 5%;
        border-bottom:solid rgb(0, 0, 139) 5px;
        margin-right: 40%;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
    }
    .txtfinal{
        padding-top: 15%;
        margin-left: 75%;
        margin-bottom: 15px;
        border-bottom: solid rgb(0, 0, 139) 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
    } 
    

    /*********** MQ GALERIA **************************/
    .fotoPrincipalGale{
        background-image: url(imagenes/murcia/FacuPase.jpg) !important;
    }
    /* .fotoMenu{
        
        background-image: url(imagenes/murcia/FacuPase.jpg);
        background-position: center;
        background-size: cover;
        
    
    } */
    .galeria{
        display: grid;
        background-color: rgb(0, 0, 139);
        margin-top: 40px;
        padding-top: 10px;
        gap: 3px;
    }
    .item1{
        background-image: url(imagenes/denver/FacuBandeja4.jpg);
        background-size: cover;
        background-position:center ;
        margin-left: 5px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    .item2{
        background-image: url(imagenes/peñarol/Facubandeja3.jpg);
        background-size: cover;
        background-position: center;
    }
    .item3{
        background-image: url(imagenes/denver/FacuFestejandoTriple.jpg);
        background-size: cover;
        background-position: center;
        min-width: fit-content;
    }
    .item3:hover{
        transform: scale(1.03);
        transition: all 1s;
    }
    .item4{
        background-image: url(imagenes/SelArg/TapaAKobe.jpg);
        background-size: cover;
        background-position: center;
       
    }
    .item5{
        background-image: url(imagenes/SelArg/FacuVsDeAndreJordan.jpg);
        background-size: cover;
        
    }
    .item6{
        background-image: url(imagenes/municipal/Facumunicipal2.jpg);
        background-size: cover;
        background-position: center;
        
    }
    .item7{
        background-image: url(imagenes/SelArg/fondopr5.jpg);
        background-size: cover;
        background-position: left;
       
    }
    .item8{
        background-image: url(imagenes/realMadrid/FacuGritando2.jpg);
        background-position: center;
        background-size: cover;
    }
    .item9{
        background-image: url(imagenes/SelArg/FacuAbrazo.jpg);
        background-size: cover;
        background-position: center;
        
    }
    .item10{
        background-image: url(imagenes/denver/FacuBandeja.jpg);
        background-position: center;
        background-size: cover;
    }
    .item11{
        background-image: url(imagenes/realMadrid/banner.jpg);
        background-position: center;
        background-size: cover;
    
    }
    .video1{
        display: flex;
        margin: 5% 0% 1% 5%;
        padding: 3%;
        background-color: rgb(0, 0, 139);
        box-shadow: 1px 0px 0 #fff;
        box-shadow: 10px 10px 0 rgba(31, 103, 235, 0.7);
        
    }
    .video2{
        display: flex;
        justify-content: flex-end;
        margin: 2% 5% 2% 0% ;
        padding: 3%;
        background-color: rgb(0, 0, 139);
        box-shadow: 1px 0px 0 #fff;
        box-shadow: 10px 10px 0  rgba(31, 103, 235, 0.7);
    }
    .video3{
        display: flex;
        margin: 5% 0% 1% 5%;
        padding: 3%;
        background-color: rgb(0, 0, 139);
        box-shadow: 1px 0px 0 #fff;
        box-shadow: 10px 10px 0 rgba(31, 103, 235, 0.7);
    }
    .separacion{
        background-color: white;
        height: 75px;
    }
    /*********************************MQ CONTACTO *****************************************************/
    #fondo{
        background-image: url(imagenes/denver/FacuFestejandoTriple.jpg;) !important;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .registro{
        width: 565px;
        background: rgba(36, 48, 60, 0.5);
        padding: 50px;
        padding-bottom: 8%;
        margin: auto;
        border-radius: 4x;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        box-shadow: 7px 13px 37px #000;
        
    }
    .registro h2{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .registro h5{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .controls{
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        color: blanchedalmond;
    }
    .registro p{
        width: 100%;
        height: px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }
    .registro a{
        color: white;
        text-decoration: none;
    }
    .registro a:hover{
        color:white;
        text-decoration: underline;
    }
    .registro .botons{
        width: 100%;
        background:#1f53c5;
        padding: 12px;
        color: white;
        margin: 16xp 0;
        font-size: 16px;
    }
    .fcontacto{
        width: 100%;
        height: 300px;
        background-image: linear-gradient(rgb(0, 0, 139),black);
        margin-top: 2%;
        border-top: whitesmoke solid;
    } 
    #psorteo{
        font-size: 15px;
        padding-top: 10px;
    }
    /******************************* MQ CAMISETAS ******************************/
    .fotoCamisetas{
        height: 500px !important;
    }
    
    #footerCamisetas{
        margin-top: 30rem;
    }
    .container-camisetas a{
        font-weight: 500;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        
    }
    #button{
        background-color: cornflowerblue; 
        width: 200px;
        height: 35px;
        border-radius: 15px;
        border: none;
        margin-left: 20%;
        
    }

} 